body {
	font-family: roboto;
	font-size: 28px;
	background: #1f1f28;
	color: #dcd7ba;
}

a:link {
	color: #c34043;
}

main {
	max-width: 800px ;
	margin: auto ;
}

img {
	max-width: 100% ;
}

header h1 {
	text-align: center ;
}

footer {
	text-align: center ;
	clear: both ;
}

.idx {
	padding-left:0;
	list-style: none;
	text-align: center;
}

.idx:visited {
	color: #c34043;	
}
